<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>Home/home.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>com.pkg.controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpController</servlet-name>
        <servlet-class>com.pkg.controllers.SignUpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPizzaController</servlet-name>
        <servlet-class>com.pkg.controllers.AddPizzaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewPizzaController</servlet-name>
        <servlet-class>com.pkg.controllers.ViewPizzaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePizzaController</servlet-name>
        <servlet-class>com.pkg.controllers.UpdatePizzaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePizzaController</servlet-name>
        <servlet-class>com.pkg.controllers.DeletePizzaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePizzaImageController</servlet-name>
        <servlet-class>com.pkg.controllers.UpdatePizzaImageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartController</servlet-name>
        <servlet-class>com.pkg.controllers.AddToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerHomeController</servlet-name>
        <servlet-class>com.pkg.controllers.CustomerHomeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpController</servlet-name>
        <url-pattern>/SignUpController</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>AdminSessionFilter</filter-name>
        <filter-class>com.pkg.filters.AdminSessionFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdminSessionFilter</filter-name>
        <url-pattern>/Admin/*</url-pattern>
        <url-pattern>/AddPizzaController</url-pattern>
        <url-pattern>/ViewPizzaController</url-pattern>
        <url-pattern>/UpdatePizzaController</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>CustomerSessionFilter</filter-name>
        <filter-class>com.pkg.filters.CustomerSessionFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CustomerSessionFilter</filter-name>
        <url-pattern>/Customer/*</url-pattern>
        <url-pattern>/CustomerHomeController</url-pattern>
    </filter-mapping>
    <servlet-mapping>
        <servlet-name>AddPizzaController</servlet-name>
        <url-pattern>/AddPizzaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewPizzaController</servlet-name>
        <url-pattern>/ViewPizzaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePizzaController</servlet-name>
        <url-pattern>/UpdatePizzaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePizzaController</servlet-name>
        <url-pattern>/DeletePizzaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePizzaImageController</servlet-name>
        <url-pattern>/UpdatePizzaImageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartController</servlet-name>
        <url-pattern>/AddToCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerHomeController</servlet-name>
        <url-pattern>/CustomerHomeController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            1
        </session-timeout>
    </session-config>
</web-app>
